/bin/
/target/

# Ignore these files for future commits (Computer specific)
# Can add more as needed
.classpath
.DS_Store
.gitignore
*.jar

.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
src/testRunners/TestRunner.java
